body {
	font-family: 'Noto mono', monospace;
	display: grid;
	grid-template-columns: minmax(12em, 20%) 1fr;
	grid-gap: 0.5ex;
	margin: 0.5ex;
}

/* TREE */

.bigAct {
	margin-bottom: 0.5ex;
	border: none;
	background-color: dodgerblue;
}

.tree-item {
	list-style: none;
	display: list-item;
	margin-left: 1.4em;
	border-left: solid 0.2em transparent;
	padding-left: 0.2em;
}

.tree>.tree-item {
	margin: 0;
}

.tree-item:hover {
	border-left-color: silver;
}

.item-focus {
	background-color: dodgerblue;
}

.tree-name {
	font-weight: bold;
}

.execute {
	display: inline;
	background-color: orange;
	border: none;
	width: auto;
	border-radius: 1ex;
}

.execute:hover {
	background-color: orangered;
}

.status {
	background-color: dodgerblue;
}

/* MAIN */

#content {
	display: grid;
	grid-template-columns: 1.2fr 1fr;
}

#content:empty {
	display: none;
}

#content,
#content>* {
	border: solid 0.3ex;
}

input,
textarea,
output,
button,
code {
	font: inherit;
	width: 100%;
	resize: vertical;
	box-sizing: border-box;
	margin: 0;
	padding: 0.5ex;
	overflow-wrap: anywhere;
}

textarea:focus {
	background: gainsboro;
	border: none;
	outline: none;
}

.send {
	background: orange;
}

.send:hover {
	background: orangered;
}

.status {
	background-color: dodgerblue;
	background-color: mediumseagreen;
}

textarea[name=test] {
	grid-row: 1 / 4;
	grid-column: 2;
}

output {
	background-color: mediumseagreen;
}

output.result-test {
	grid-row: 4 / 6;
	grid-column: 2;
}

.fail {
	background-color: yellowgreen;
	margin-bottom: .6ex;
	padding: 0.5ex;
}

.fail:last-child {
	margin-bottom: 0;
}